body{
  background-image: url("/bg3-01.png");
  background-color: black;
  background-position: center;
}

.buildingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buildingList {
  flex-wrap: wrap;
  background-color: rgba(190, 190, 190, 0.61);
  /* margin: 50px; */
  padding: 25px;
  /* flex-direction: row; */
}

.image{
  height: 100px;
  width: auto;
}

.buildings{
  margin: 5px;
  float: left;
  width: 100px;
}

.buildingName{
  padding: 15px;
  text-align: center;
}

.addBuildings{
  /* display: block; */
  background-color: rgba(190, 190, 190, 0.61);
  margin-left: auto;
  margin-right: auto;

}

button{
  background-color: transparent;
  border: none;
}

button:focus{
  outline: none;
  border: none;
}
