body{
  background-image: url("/bg3-01.png");
  background-color: black;
  background-position: center;
}

.buildingBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buildingList {
  flex-wrap: wrap;
  background-color: rgba(190, 190, 190, 0.61);
  margin: 50px;
  padding: 75px;
}

