@import './variables';
.page {
    @include flexStart(column);
}

.registrationSuccess,
.loginSuccess {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.2rem;
    margin-bottom: -3.1rem;
    color: #0c1b22;
}

.title {
    text-align: center;
    font-size: 4.8rem;
    margin-top: 4.8%;
    margin-bottom: 0.24%;
    color: white;
}

.cardForm {
    background-color: $cardFormBackground;
    margin: 3.15rem auto;
    width: 31.5rem;
    border-radius: 3px;
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 3.5rem;
    @include flexStart(column);
}

.defaultInput,
.errorInput {
    width: 100%;
    margin-top: 1.8rem;
    height: 3.5rem;
    font-size: 1.6rem;
    border-left: 0px solid lightgrey;
    border-top: 0px solid lightgrey;
    border-right: 0px solid lightgrey;
    background-color: rgba(243, 241, 239, 0);
    outline: none;
    caret-color: $grassGreen;
}

.defaultInput {
    border-bottom: 3px solid #009688;
}

.errorInput {
    border-bottom: 3px solid $error;
}

.defaultInput:focus {
    outline: none;
    border-bottom: 3px solid $grassGreen;
}

.errorLine {
    @include flexDirection(row);
    justify-content: space-between;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

.errorMessage {
    font-size: 1.2rem;
    font-weight: 500;
    color: $error;
}

.errorSign {
    margin-top: 0.2rem;
    height: 5%;
    width: 5%;
}

.submitLine {
    @include flexDirection(row);
    justify-content: flex-end;
}

.submit {
    width: 9rem;
    height: 3.4rem;
    background-color: $grassGreen;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-top: 3.25rem;
    box-shadow: 0px 3px 5px #9b9b9b;
    &:hover {
        background-color: #75be3e;
    }
    &:focus {
        outline: none;
    }
}