.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rsm-svg {
    background-color: #23232300;
    height: 85vh;
}

.location.selectable {
    cursor: pointer;
}
.location.selectable:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

button {
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgba(0, 177, 118, 0.75);
    color: #eee;
}
button:hover {
    background-color:  #eee;
    color:rgba(0, 177, 118, 0.75);
}
