body {
  background-image: url('/bg3-01.png');
  background-color: black;
  background-position: center;
}

.registration {
  display: flex;
  flex-direction: column;
}

.registration .title h2 {
  text-align: center;
  font-size: 4rem;
  margin-top: 3%;
  margin-bottom: 0.2%;
  color: whitesmoke;
  justify-content: center;
}

.registration .form {
  background-color: rgba(169, 169, 169, 0.842);
  margin: 3.15rem auto;
  width: 31.5rem;
  border-radius: 3px;
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
  justify-content: center;
}

.registration button {
  width: 9rem;
  height: 3.4rem;
  background-color: green;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-top: 3.25rem;
  box-shadow: 0px 3px 5px #9b9b9b;
  justify-content: flex-end;
}

.registration .submitLine {
  display: flex;
  justify-content: flex-end;
}

.registration .errorMessage {
  color: red;
  font-size: 1.25rem;
  border: 0px;
  border-radius: 4px;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-top: 4.25rem;
}

.registration .registrationButton:hover {
  background-color: #75be3e;
}

.registration .registrationButton:focus {
  outline: none;
}

.registration input {
  border-bottom: 3px solid green;
  width: 100%;
  margin-top: 1.8rem;
  height: 3.5rem;
  font-size: 1.6rem;
  border-left: 0px solid lightgrey;
  border-top: 0px solid lightgrey;
  border-right: 0px solid lightgrey;
  background-color: rgba(243, 241, 239, 0);
  outline: none;
}

.registration .red {
  border-bottom: 3px solid red;
}

.registration .redimage {
  display: flex;
  justify-content: space-evenly;
  background-image: url('/alert_sign.png');
  background-repeat: no-repeat;
  color: red;
}

.registration .alertnotext {
  font-size: 0px;
}

.registration .green {
  border-bottom: 3px solid green;
}
