.buildings{
  padding: 5px;
  margin: 5px;
  display: flex;
  width: min-content;
}

.image{
  width: 4em;
  height: 4em;
}

.buildingName{
  margin: 0;
  padding: 0;
}

.icons{
  padding: 5px;
  margin: 5px;
}
