html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  height: 100%;
}
p {
  margin: 0px;
  color: #676969;
}
div#root {
  height: 100%;
}
div.App {
  height: 100%;
  display: grid;
  grid-template-columns: 450px 200px 1fr;
  grid-template-rows: 62px 120px 1fr;
  grid-gap: 40px;
  background-image: url('./assets/bg3-01.png');
  font-family: Arial;
}
